// about page
.about-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "education skills skills"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 3rem;

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-light 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    padding: 1.5rem;
  }

  .education {
    grid-area: education;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border: $secondary-light 5px solid;
  }
  .skills {
    grid-area: skills;

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1fr, 1fr);

    // titles
    .title {
      text-align: center;
    }
    .title-1 {
      grid-column: 1;
      grid-row: 1;
    }
    .title-2 {
      grid-column: 2;
      grid-row: 1;
    }
    .title-3 {
      grid-column: 3;
      grid-row: 1;
    }
    .nested {
      background: lighten($primary-color, 5);
      padding: 10px;
      h3 {
        text-align: center;
      }
    }
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-light 5px solid;
  }
}

// SKILLS MAP
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-column: 1/2;
// }
// .nested {
//   background: lighten($primary-color, 5);
//   padding: 1em;
// }
// .map {
//   grid-column-start: 1;
//   grid-column-end: 4;
//   grid-row-start: 1;
//   grid-row-end: 3;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);

//   z-index: 2;
//   cursor: pointer;

//   .map.skill {
//     border: 2px solid #ffec99;
//     border-radius: 5px;
//     background-color: #fff9db;
//     padding: 1em;
//   }

//grid-template-areas: "frontend ux1 ui" "blank1 ux2 blank2"
// "blank3 ux3 blank4";
//   .skill-front-end {
//     grid-area: frontend;
//   }
//   skill-ux-1 {
//     grid-area: ux1;
//   }
//   skill-ui {
//     grid-area: ui;
//   }
//   blank-1 {
//     grid-area: blank1;
//   }
//   skill-ux-2 {
//     grid-area: ux2;
//   }
//   blank-2 {
//     grid-area: blank2;
//   }
//   blank-3 {
//     grid-area: blank3;
//   }
//   skill-ux-3 {
//     grid-area: ux3;
//   }
//   blank-4 {
//     grid-area: blank4;
//   }

//   map-skill {
//     background: $secondary-light;
//     padding: 0.5rem;
//   }
